# Django core settings
DJANGO_SECRET_KEY=django-insecure-change-this-secret-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=books-cafe.com

# Database settings(LOCAL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=library_database
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Database settings(HOSTED)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=library_database
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=awslibrarydb.cz86yki2e5rg.ap-south-1.rds.amazonaws.com
# DB_PORT=5432



# Django URL/auth settings
LOGIN_URL=login
LOGIN_REDIRECT_URL=reader_dashboard
LOGOUT_REDIRECT_URL=login

# Static files
STATIC_URL=static/
STATIC_ROOT=staticfiles

# CORS settings
CORS_ALLOWED_ORIGINS=https://bookscafe.com